{% extends "base.html" %}
{% block title %}(Coming Soon){% endblock %}
{% block content %}
  {% with messages=get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <h2 style="color:RED;">{{msg}}</h2>
      {% endfor %}
    {% endif %}
  {% endwith %}
<html>
  <body>
  <p></p>
  <h1 title="Error Header">Oops!</h1>
    <pre title="Error Message">This page is under construction
  and is still being built! Sorry...
  Feel free to visit a different page.
  </body>
</html>
{% endblock %}
