{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
  {% with messages=get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <h2 style="color:RED;">{{msg}}</h2>
      {% endfor %}
    {% endif %}
  {% endwith %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/x-icon" href="https://www.favicon.cc/logo3d/953585.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <title>Home Page</title>
  </head>

  
  <body>
    <p></p>
    <h1 class="Headers">Biscs HTML Environment</h1>
    <pre title="Introduction"><i>Welcome to a new site made for
    me to learn more HTML. I read 
    off of the documentation made by 
    w3schools while making this       
    website. There documentation really 
    helped me out as I am new to 
    HTML and am still currently learning.</i>  </pre>
    <p></p>
    <!--<button class="Headers" title="Hides Headers | Reason: Why Not?" onclick="deleteHeaders()">Hide Headers</button>-->
    
    <div class="social-media">
      <a href="https://github.com/BiscDaBiscuit" target="_blank"><i class='fab fa-github'></i></a>
    </div>

    <hr>
    
    <h1 class="Headers">About Me</h1>
    <pre title="About Me Information"><i>I am a teenager who loves to play
    video games, code, play baseball,
    and so on! I mostly code in Python
    but am not advanced in the language
    yet... I am also now learning HTML
    as it is very useful and enjoyable.</i></pre>
    
    <table class="center" style="width:50%" title="About Me Table">
      <tr>
        <th>Personal Info</th>
        <th>Technological Info</th>
      </tr>
      <tr>
        <td>Name: Braedon S</td>
        <td>Languages: Python | HTML</td>
      </tr>
      <tr>
        <td>Sports: Baseball</td>
        <td>IDE's: Replit/VSC Mainly Used</td>
      </tr>
    </table>

      <hr>
      <h1 class="Headers">Coding/Tech Journey</h1>
      <pre title="Coding Journey Information"><i>I first started getting into technology
from my father, he works in and enjoys technology and taught me a lot 
about technology. Such as network information, ip address information,
and so on. As I continued to learn tech topics I also got my first 
computer, soon after I started coding! I first bounced around different
languages of code before choosing Python, as my main lanuage to learn;
I am not the best in python and want to learn more advanced Python
sooner or later. But currently I am decent in certain things related to
Python and am now starting HTML as you can see... I am pretty good but
also a newbie so hold on for the bumpy ride. I also started doing some
hacking stuff such as nmap. I also messed around with batch file for a bit
making funny computer crashers... One even played Peter saying "TaaaDaaaahh"
from family guy before crashing your computer, dont ask...</i></pre>


   
    <footer><strong>Programmed By: BiscDaBiscuit</strong></footer>
  </body>


<!--<script>
function deleteHeaders() {
  var x = document.getElementsByClassName("Headers");
  for (var i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
}
</script>-->
</html>
{% endblock %}

