{% extends "base.html" %}
{% block title %}Biscs Barn | Home Page{% endblock %}
{% block content %}
  {% with messages=get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <h2 style="color:RED;">{{msg}}</h2>
      {% endfor %}
    {% endif %}
  {% endwith %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/x-icon" href="https://www.favicon.cc/logo3d/953585.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <title>Home Page</title>
  </head>

  
  <body>
    <p></p>
    <h1 class="Headers">BiscsBarnWebsite</h1>
    <pre title="Introduction"><i>Welcome! This website was
    made for me to improve in HTML. Here
    you will learn some stuff about 
    me, some links and projects I made,
    and so much more that is already
    here or coming!</i></pre>
    <div class="social-media">
      <a href="https://github.com/BiscDaBiscuit" target="_blank"><i class='fab fa-github'></i></a>
    </div>

    
    <hr>

    
    <h1 class="Headers">About Me</h1>
    <pre title="About Me Information"><i>I am a teenager who loves to
    play video games, code, play baseball,
    and so on! I mostly code in Python
    but am not advanced in the language,
    yet... I am also now learning
    HTML as it is very useful and enjoyable.</i></pre>
    
        <table class="center" style="width:50%" title="About Me Table">
          <tr>
            <th>Personal Info</th>
            <th>Technological Info</th>
          </tr>
          <tr>
            <td>Name: Braedon S</td>
            <td>Languages: Python | HTML</td>
          </tr>
          <tr>
            <td>Sports: Baseball</td>
            <td>IDE's: Replit/VSC Mainly Used</td>
          </tr>
        </table>
    <div>
      <p></p>
      <button onclick="document.location='https://biscsbarnwebsite.biscdabiscuit.repl.co/projects'" title="My Projects Button Link" target="_blank">My Projects</button> 
      <button onclick="document.location='https://biscsbarnwebsite.biscdabiscuit.repl.co/links'" title="My Links Button Link" target="_blank">My Links</button>
        <p></p>
      </div>

    
      <hr>

    
      <h1 class="Headers">Coding/Tech Journey</h1>
      <pre title="Coding Journey Information"><i>I began getting into technology from my father, 
he works in and enjoys technology and taught me a 
lot about technology. Such as network information, ip address information,
and so on. 
        
As I continued to learn tech topics I also got my first 
computer, soon after I started coding! I first bounced around different
languages of code before choosing Python, as my main lanuage
to learn, Im not the greatest in python, and want to learn more advanced
Python. But currently I am decent in specific topics related to Python and
am now learning HTML. I alsostarted learning some hacking 
material such as usingnmap, I also messed around with batch file.</i></pre>
  </body>
</html>
{% endblock %}
