{% extends "base.html" %}
{% block title %}Links Page{% endblock %}
{% block content %}
<html>
  <body>
    <h1>Links Page</h1>
    <p></p>
    <pre>There are not many links currently
3 were deleted as those accounts were deleted,
but be sure to follow my twitch!</pre>
    <button onclick="document.location='https://www.twitch.tv/biscdabiscuit'" title="Click Me 4 My Twitch" target="_blank">My Twitch</button>
    <button onclick="document.location='https://github.com/BiscDaBiscuit/'" title="Click Me 4 My Github" target="_blank">My Github</button> 
  </body>
</html>
{% endblock %}
