{% extends "base.html" %}
{% block title %}Biscs Barn | Projects{% endblock %}
{% block content %}
  {% with messages=get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <h2 style="color:RED;">{{msg}}</h2>
      {% endfor %}
    {% endif %}
  {% endwith %}
<html>
  <body>
    <p></p> 
		<h1>My Projects</h1>
		  <pre title="Project Page Intro/Discrip"><i>Here are some of
my projects,
you might like.</i></pre>
	  <div class="work-box">
	  <div class="work">
	<!--───────────────card───────────────-->
  	<div class="card" title="Project Card">
  	<img class="work-img" src="https://imgs.search.brave.com/QrIzt_6Qls6BbU11OXcx0Wh4RxsEJFt2dk2T6NA4Ehc/rs:fit:746:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5m/T0YwRlN3SlZpaDVB/eXNGN3dkaWNBSGFF/dCZwaWQ9QXBp">
    	<a href="https://github.com/BiscDaBiscuit/AccountSearcher" target="_blank"> <!--Link to project-->
    	<div class="work-content">A simple account searcher!</div></a>
      </div>
      
              
        	<div class="card" title="Project Card 2">
        	<img class="work-img" src="https://imgs.search.brave.com/V1IWsDWsslqDVPDZSdxdblH5Pl-D4Mv71jthnfOR9_0/rs:fit:488:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC56/c1RyS2V3Vng3TjZB/LVhFMEJvT2tBSGFI/TSZwaWQ9QXBp">
            <a href="https://github.com/BiscDaBiscuit/BiscsBarnWebsite" target="_blank"> <!--Link to project-->
            <div class="work-content">This Website!</div></a>
            </div>
      
      
              <div class="card" title="Project Card 3">
              <img class="work-img" src="https://imgs.search.brave.com/-O6mIi_vMIwoK-l9aKFYAf2ws4k5_Y8dSQ2rgMNWxYg/rs:fit:920:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5y/MFRrY0NVM2hLbDd5/dUc1ZkZjWlZBSGFE/MCZwaWQ9QXBp">
              	<a href="https://github.com/BiscDaBiscuit/SimpleHTMLWebsite" target="_blank"> <!--Link to project-->
                <div class="work-content">A simple html/css website!</div></a>
              </div>

        
            <div class="card" title="Project Card 4">
          	<img class="work-img" src="https://imgs.search.brave.com/sBphph-CTWSiY8aeQTSe8X0w5lzcvwKeMNzJenJsbyw/rs:fit:874:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC52/WUtlQ0wtMTRMSzJq/TEFXTHhWZ3RBSGFF/QiZwaWQ9QXBp">
          	<a href="https://github.com/BiscDaBiscuit/IPAddressInfoGatherer" target="_blank"> <!--Link to project-->
          	<div class="work-content">A ip info gatherer!</div></a>
            </div>     
<p></p>
  </body>
</html>
{% endblock %}
